/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/ with many adjustments.
 *
 * Theme picked from here: https://github.com/PrismJS/prism/tree/1d5047df37aacc900f8270b1c6215028f6988eb1/themes
 */

 /**
  * Styling of command line - bash commands
  */
 pre.language-bash code.language-bash {
  display: block;
  position: relative;
  padding: 1rem;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.16);
  padding-top: 45px;
  font-size: 0.7rem;
}

pre.language-bash code.language-bash:before {
  content: '\2022 \2022 \2022';
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  background: #e1e1e1;
  color: #c2c3c4;
  width: 100%;
  font-size: 22px;
  margin: 0;
  line-height: 0;
  padding: 14px 0;
  text-indent: 4px;
  letter-spacing: -8px;
}

 /**
  * Styling of all other programming languages
  */
code[class*='language-'],
pre[class*='language-'] {
  color: #f8f8f2;
  background: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*='language-'] {
  padding: 1em;
  margin-top: 10px;
  /* Make it stand out on the sides with margin */
  overflow: auto;
  margin-right: -30px;
  margin-left: -30px;
}

/**
 * Don't have wide code blocks when in a list
 */
li pre[class*='language-'] {
  margin-right: 0;
  margin-left: 0;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: #34352f;
}



/* Inline code */
/* :not(pre) > code[class*='language-'] {
  padding: 0.2em 0.3em;
  border-radius: 0.3em;
  white-space: normal;
  background: #f0e4bf;
  color: black;
  text-shadow: none;
}
*/

h2 > code[class*='language-'] {
  font-size: 1.3rem;
}

h3 > code[class*='language-'] {
  font-size: 1rem;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #f8f8f2;
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #f92672;
}

.token.boolean,
.token.number {
  color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #a6e22e;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function {
  color: #e6db74;
}

.token.keyword {
  color: #66d9ef;
}

.token.regex,
.token.important {
  color: #fd971f;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

/*
 * Adapting the styling of the prompt.
 * See https://www.gatsbyjs.org/packages/gatsby-remark-prismjs/
 * for more information.
 */
.command-line-prompt > span:before {
  color: rgb(201, 201, 201);
  content: ' ';
  display: block;
  padding-right: 0.8em;
}

.command-line-prompt {
  border-right: none;
  margin-right: 0;
}

/* .command-line-prompt {
  border-right: none;
  display: block;
  float: left;
  font-size: 100%;
  letter-spacing: -1px;
  margin-right: 0;
  pointer-events: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
} */

/* Prompt for all users */
.command-line-prompt > span[data-user]:before {
  /* content: '[' attr(data-user) '@' attr(data-host) '] $'; */
  content: '$'; /* Hide the user and host information */
}

/* Prompt for root */
.command-line-prompt > span[data-user='root']:before {
  /* content: '[' attr(data-user) '@' attr(data-host) '] #'; */
  content: '#'; /* Hide the user and host information */
}

.command-line-prompt > span[data-prompt]:before {
  content: attr(data-prompt);
}

/**
 * Line numbers
 */
pre[class*='language-'].line-numbers {
  position: relative;
  padding-left: 2.8em;
  counter-reset: linenumber;
  /* Ensure text under code-block appears after an offset */
  margin-bottom: 0.5rem;
}

/* Bash - Line numbers */
 pre.language-bash.line-numbers {
  padding: 0;
  border-radius: 6px;
  border: 0;
}
pre.language-bash > span.line-numbers-rows {
  display: none;
}

pre[class*='language-'].line-numbers > code {
  position: relative;
  white-space: inherit;
}

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 1em;
  font-size: 100%;
  left: 2em;
  width: 3em; /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  margin-left: 0.5em;
  border-right: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber;
}

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: rgb(126, 126, 126); /* Line number color */
  display: block;
  padding-right: 0.8em;
  text-align: right;
}

/**
 * Highlight line
 */
.gatsby-highlight-code-line {
  background-color: rgb(111, 90, 90);
  display: block;
  margin-right: -1em;
  margin-left: -1em;
  padding-right: 1em;
  padding-left: 0.75em;
  border-left: 0.25em solid #c16d6d;
}

/**
 * Code Title
 */
.gatsby-remark-code-title {
  padding: 0.5em 1em;
  font-family: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console',
  'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
  'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier,
  monospace;
  font-size: 0.8em;
  font-weight: bold;

  background-color: black;
  color: white;
  z-index: 0;

  margin-bottom: -0.6rem;
  margin-right: -30px;
  margin-left: -30px;

  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
}

li .gatsby-remark-code-title {
  margin-top: 0.5rem;
  margin-right: 0;
  margin-left: 0;
}
