h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.7rem;
  margin-bottom: 0.5rem;
}

a {
  color: #9C590B;
}

article h2 {
  color: #4a4a44;
  /* border-top: 0.8px solid #4a4a4a; */
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

article h3 {
  margin-top: 1.3rem;
  font-style: italic;
  color: #4a4a44;
}

article h4 {
  color: #4a4a4a;
}

article p {
  margin-bottom: 0.5rem;
}

article li {
  margin-bottom: 0.1rem;
}

/* Table */
article td {
  padding: 2px;
}

article ul {
  margin-left: 1rem;
}

footer {
  margin-top: 3rem;
}

article footer {
  margin-bottom: 2rem;
}
